﻿@model Blackjack.ViewModels.Game.StartRoundViewModel


@{
    <h3>Dealer cards</h3>
    @*foreach (var card in Model.DealerCards)
    {
        <h6>@card.CardSuit &nbsp; @card.CardRank</h6>
    }
    <h6><i>Dealer`s amount of cards - @Model.DealerCards.Count</i></h6>*@
    <h6>Dealer`s score -  @Model.DealerScore</h6>

    @*<h3>Player cards</h3>
    foreach (var card in Model.PlayerCards)
    {
        <h6>@card.CardSuit &nbsp; @card.CardRank</h6>
    }
    <h6><i>Player`s amount of cards - @Model.PlayerCards.Count</i></h6>*@
    <h6>Player`s score - @Model.PlayerScore</h6>
    <h6>.</h6>
    <h6>.</h6>
    <h6>.</h6>
    <h6>.</h6>

    //
    // chech player`s hand
    //
    if (@Model.ModelIsBlackjackPlayer)
    {
        <h4>Player has a Blackjack!</h4>
        @Html.ActionLink("Start new round", "StartNewRound");
    }
    if (@Model.ModelIsOnTheMiddlePlayer)
    {
        <h4>Player has win</h4>
        @Html.ActionLink("Start new round", "StartNewRound");
    }
    if (@Model.ModelIsBustedPlayer)
    {
        <h4>Player has busted</h4>
        @Html.ActionLink("Start new round", "StartNewRound");
    }
    if (@Model.ModelIsLowerPlayer)
    {
        <h6>.</h6>
        <h6>.</h6>
        @Html.ActionLink("Hit", "AddCard")
        <h6>.</h6>
        <h6>.</h6>
        @Html.ActionLink("Stand", "Stand")
    }

    //
    // check dealer`s hand
    //
    if (@Model.ModelIsBlackjackDealer)
    {
        <h4>Dealer has a Blackjack!</h4>
        @Html.ActionLink("Start new round", "StartNewRound");
    }
    if (@Model.ModelIsBustedDealer)
    {
        <h4>Dealer has busted => Player win</h4>
        @Html.ActionLink("Start new round", "StartNewRound");
    }
    if (@Model.ModelIsOnTheMiddleDealer)
    {
        <h4>Dealer has win</h4>
        @Html.ActionLink("Start new round", "StartNewRound");
    }

    <h6>.</h6>
    <h6>.</h6>
    <h6>.</h6>
    <h6>Deck remaining - @Model.DeckRemaining</h6>


}
